AI_Meeting_Assistant.json
{
  "name": "meeting",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "456fc9ad-889c-42d9-a44a-6be4f1ab1cfc",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "083d0f13-928b-418c-b455-d7b142fe078c",
      "name": "Webhook",
      "webhookId": "456fc9ad-889c-42d9-a44a-6be4f1ab1cfc"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an AI meeting assistant. Analyze the meeting transcript and return ONLY valid JSON in this exact format: {\\\"summary\\\":\\\"\\\",\\\"key_decisions\\\":[],\\\"action_items\\\":[{\\\"task\\\":\\\"\\\",\\\"assignee\\\":\\\"\\\",\\\"due_date\\\":\\\"\\\"}],\\\"follow_up_questions\\\":[],\\\"sentiment\\\":\\\"\\\"}. Do not return markdown. Do not return explanations. Return only JSON.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Meeting Transcript: {{$json.meeting_text}}\"\n    }\n  ],\n  \"temperature\": 0.3\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        288,
        0
      ],
      "id": "eee7123f-ab5b-46b5-9afa-da6dc1d1c9e6",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "gcsCYNzAlVVcXnxP",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.choices[0].message.content;\n\nconst clean = raw\n  .replace(/```json/g, \"\")\n  .replace(/```/g, \"\")\n  .trim();\n\nconst parsed = JSON.parse(clean);\n\nreturn [\n  {\n    json: {\n      summary: parsed.summary || \"\",\n      key_decisions: parsed.key_decisions || [],\n      action_items: parsed.action_items || [],\n      follow_up_questions: parsed.follow_up_questions || [],\n      sentiment: parsed.sentiment || \"\"\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        0
      ],
      "id": "7eda0e64-3fb8-42a9-86d3-8f2025d3326d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "devesh2006.ai@gmail.com",
        "subject": "=Meeting Summary - {{$now.format('dd LLL yyyy HH:mm')}}",
        "message": "=Meeting Summary:\n{{$json.summary}}\n\nKey Decisions:\n{{$json.key_decisions.join(\", \")}}\n\nAction Items:\n{{$json.action_items.map(item => item.assignee + \" → \" + item.task + \" (Due: \" + item.due_date + \")\").join(\"\\n\")}}\n\nSentiment:\n{{$json.sentiment}}\n\n---\nThis email was sent automatically with n8n.\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        960,
        -224
      ],
      "id": "4c01f445-381d-497d-9074-c56690586182",
      "name": "Send a message",
      "webhookId": "d987d221-c706-49bb-92bd-e75645d534d5",
      "credentials": {
        "gmailOAuth2": {
          "id": "hodQzcHBM17fzWtS",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "devesh2006.ai@gmail.com",
          "mode": "list",
          "cachedResultName": "devesh2006.ai@gmail.com"
        },
        "start": "2026-05-30T16:30:54",
        "end": "2026-05-30 17:30:54",
        "additionalFields": {
          "description": "=Assigned To: {{$json.action_items[0].assignee}}  Deadline: {{$json.action_items[0].due_date}}",
          "summary": "=Task Reminder: {{$json.action_items[0].task}}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1008,
        128
      ],
      "id": "40f94352-5ad1-44ab-96ba-b71068887d7a",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "RAvOpw1tfcqn2BVJ",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "pageId": {
          "__rl": true,
          "value": "https://www.notion.so/AI-Meeting-Notes-36ee5cc0580f804483a6d2d0fe92180b?source=copy_link",
          "mode": "url"
        },
        "title": "=Meeting Summary - {{$now.format('dd LLL yyyy HH:mm')}}",
        "blockUi": {
          "blockValues": [
            {
              "textContent": "=Summary:\n{{$json.summary}}\n\nKey Decisions:\n{{$json.key_decisions.join(\", \")}}\n\nAction Items:\n{{$json.action_items.map(item => item.assignee + \" → \" + item.task + \" (Due: \" + item.due_date + \")\").join(\"\\n\")}}\n\nSentiment:\n{{$json.sentiment}}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        832,
        0
      ],
      "id": "8cfc1ba5-542e-41a7-898a-3953c74c7508",
      "name": "Create a page",
      "credentials": {
        "notionApi": {
          "id": "0Fa70So95PLbKa5z",
          "name": "Notion account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "meeting_text": "Weekly product strategy meeting conducted for the CollegeNav AI platform. Priya will design the new student dashboard UI by Tuesday. Karthik is responsible for integrating the chatbot with the admission recommendation engine by Friday. Meena will prepare social media marketing content and promotional posters before the product launch. The team finalized Firebase for authentication and decided to use Gemini API for career guidance recommendations. Management requested faster response times and improved mobile optimization for low-end devices. The team agreed to complete beta testing within the next 10 days and schedule a demo presentation for stakeholders next week. Overall meeting sentiment was highly positive and collaborative."
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create a page",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        []
      ]
    },
    "Create a page": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "14efb108-1633-4030-ad27-8d23ff08a1eb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d3beb4906231eb18442420dfde6e57868067e50367986c098af8b31e4bf2cb36"
  },
  "id": "Uc36bwPAZsXduSFK",
  "tags": []
}
